<div class="hero  h-full p-24">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <img src="/hero.svg" height="300" width="400" />
        <div>
            <h1 class="text-5xl font-bold">
                Stop Scrolling, Mulai
                <strong class="text-primary"> Berpetualang </strong>
            </h1>
            <p class="py-6">
                Lupakan riset berjam-jam. <span class="font-semibold">Teman Wisata</span> menemukan destinasi impian
                yang dipersonalisasi untukmu di kota-kota terbaik Indonesia.
            </p>
            <a class="btn btn-primary" onclick="login_modal.showModal()">Cari Rekomendasi</a>
            {{>model-signup signUpModalId="sign_up_modal" loginModalId="login_modal"}}
            {{>modal-login loginModalId="login_modal" signUpModalId="sign_up_modal"}}

        </div>
