<dialog id="{{signUpModalId}}" class="modal">
  <div class="modal-box">
    <h3 class="text-3xl font-bold text-center mb-2">Daftar Akun Baru</h3>
    <p class="text-center text-base text-gray-500 mb-4">
      Buat akun baru untuk mulai menjelajah bersama Teman Wisata.
    </p>
    <form
      method="dialog"
      class="w-full flex flex-col gap-4"
      x-data="signUpComponent()"
      @submit.prevent="submit"
    >
      <fieldset class="fieldset border-none p-0">
        <label class="label" for="signup-username">Username</label>
        <input
          id="signup-username"
          type="text"
          class="input input-bordered w-full"
          x-model="username"
          required
        />
      </fieldset>
      <fieldset class="fieldset border-none p-0">
        <label class="label" for="signup-fullname">Nama Lengkap</label>
        <input
          id="signup-fullname"
          type="text"
          class="input input-bordered w-full"
          x-model="full_name"
          required
        />
      </fieldset>
      <fieldset class="fieldset border-none p-0">
        <label class="label" for="signup-dob">Tanggal Lahir</label>
        <input
          id="signup-dob"
          type="date"
          class="input input-bordered w-full"
          x-model="dob"
          required
          :max="new Date().toISOString().split('T')[0]"
        />
      </fieldset>
      <fieldset class="fieldset border-none p-0">
        <label class="label" for="signup-province">Provinsi</label>
        <input
          id="signup-province"
          type="text"
          class="input input-bordered w-full"
          x-model="province"
          required
        />
      </fieldset>
      <fieldset class="fieldset border-none p-0">
        <label class="label" for="signup-password">Kata Sandi</label>
        <input
          id="signup-password"
          type="password"
          class="input input-bordered w-full"
          x-model="password"
          required
        />
      </fieldset>
      <fieldset class="fieldset border-none p-0">
        <label class="label" for="signup-confirm">Konfirmasi Kata Sandi</label>
        <input
          id="signup-confirm"
          type="password"
          class="input input-bordered w-full"
          x-model="confirm"
          required
        />
      </fieldset>
      <button
        type="submit"
        class="btn btn-primary w-full mt-2"
        :disabled="loading"
      >
        <span x-show="!loading">Daftar</span>
        <span x-show="loading">Memproses...</span>
      </button>
      <button
        type="button"
        class="btn w-full"
        onclick="document.getElementById('{{signUpModalId}}').close()"
        :disabled="loading"
      >
        Batal
      </button>
      <template x-if="error">
        <p class="text-center text-sm text-red-500 mt-2" x-text="error"></p>
      </template>
      <template x-if="success">
        <p class="text-center text-sm text-green-500 mt-2" x-text="success"></p>
      </template>
      <p class="text-center text-sm text-gray-500 mt-2">
        Sudah punya akun?
        <a
          class="link link-primary"
          href="#"
          @click.prevent="document.getElementById('{{signUpModalId}}').close(); document.getElementById('{{loginModalId}}').showModal()"
        >Masuk</a>
      </p>
    </form>
